@charset "UTF-8";

/**
 * Custom theme by Michele Lombardi <mcichele.lombardi2@unibo.it>
 */

/* @import url(assets/futura/futura.css); */
/* @import url(assets/helvetica-neue/helvetica-neue.css); */
/* @import url(assets/league-gothic/league-gothic.css); */
/* @import url(assets/source-sans-pro/source-sans-pro.css); */
@import url(assets/Lato/stylesheet.css);
/* @import url(assets/Source Sans Pro/stylesheet.css); */
/* @import url(assets/Open Sans/stylesheet.css); */
/* @import url(assets/Palanquin/stylesheet.css); */
/* @import url(assets/Quattrocento Sans/stylesheet.css); */

.rise-enabled .reveal .cm-content {
  font-size: 1.3vw;
}

.rise-enabled .reveal .jp-OutputArea pre {
  font-size: 1.3vw;
}

.rise-enabled .reveal .jp-OutputArea td {
  font-size: 1.3vw;
}

.rise-enabled .reveal .jp-OutputArea th {
  font-size: 1.3vw;
}

.rise-enabled .reveal p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.5vw;
  color: #222;
  padding-left: 2vw;
  margin-top: 0.35em;
  margin-bottom: 0.35em;
}

.rise-enabled .reveal em {
  font-style: normal;
  color: #f55a04;
  /* border-bottom: solid 1.4px; */
}

.rise-enabled .reveal pre code {
  font-size: 2.2vw;
  /* background-color: #f0f0f0; */
  /* max-height: 700px; */
}

.rise-enabled .reveal code {
  font-size: 2.2vw;
  /* background-color: #f0f0f0; */
  /* max-height: 700px; */
}

.reveal ol,
.reveal dl,
.reveal ul {
  /* font-family: "Lato", sans-serif; */
  /* font-weight: 300; */
  /* font-size: 1.5vw; */
  /* color: #222; */
  display: inline-block;
  text-align: left;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.rise-enabled .reveal ul li {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.5vw;
  text-indent: 0em;
  list-style-type: none;
  /* margin-left: -0.5vw; */
  /* margin-top: -0.1vw; */
}

.reveal ul li:before {
  content: "■";
  padding-right: 0.5em;
  color: #9b0014;
}

.reveal ul ul li {
  /* font-family: "Lato", sans-serif; */
  /* font-weight: 300; */
  /* font-size: 1.5vw; */
  /* text-indent: 0em; */
  /* list-style-type: none; */
  margin-left: -2em;
  /* margin-top: -0.1vw; */
}

.reveal ul ul li:before {
  content: "■";
  padding-right: 0.5em;
  color: #bebebe;
}

.stack blockquote {
  width: 80vw;
  align-items: center;
  padding: 0.25em 1em 0.35em 1em;
  font-style: normal;
  border-style: solid;
  border-width: 2px;
  border-radius: 1vw;
  border-color: rgb(0, 0, 0);
  margin-top: 2em;
  margin-bottom: 2em;
  /* box-shadow: none; */
}

.reveal blockquote p {
  text-align: center;
}

.reveal .big {
  font-family: "Lato", sans-serif;
  font-size: 4vw;
  text-align:center;
  margin-top: 40vh;
  font-weight: bold
}

.reveal h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  display: table-cell;
  font-size: 3.2vw;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100vw;
  height: 10vh;
  vertical-align: bottom;
  padding-bottom: 0.1em;
  padding-left: 2vw;
  background: linear-gradient(#9b0014, #9b0014);
  background-position: bottom right;
  background-size: 5vw 100%;
  background-repeat: no-repeat;
  background-color: #f0f0f0;
}


.reveal h1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 4vw;
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 0.2rem;
  padding-left: 2.5vw;
  width: 100vw;
  height: 55vh;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  background: linear-gradient(#9b0014, #9b0014);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 5vw 100%;
  background-color: #f0f0f0;
}


/* .reveal .slides > section, */
/* .reveal .slides > section > section { */
/*   text-align: left; } */

/* .reveal { */
/*   /* font-family: "Helvetica NeueL", "HelveticaNeue-Thin", Helvetica, sans-serif; */ */
/*   font-family: "Lato", sans-serif; */
/*   font-weight: 300; */
/*   font-size: 28px; */
/*   /* font-weight: normal; */ */
/*   color: #222; */
/* } */

/* .reveal .cell div { */
/*   max-width: 1280px; */
/* } */

/* .reveal .code_cell div { */
/*   max-width: 1280px; */
/*   margin-left: 0px; */
/* } */

/* .reveal p { */
/*   margin-top: 0.25em; */
/*   margin-bottom: 0.25em; */
/*   line-height: 1.3; */
/*   padding-left: 0.5em; */
/* } */

/* .reveal h1 { */
/*   font-family: "Lato", sans-serif; */
/*   font-weight: 600; */
/*   /* font-family: "League Gothic", Helvetica, sans-serif; */ */
/*   /* font-family: "FuturaL", Helvetica, sans-serif; */ */
/*   font-size: 48px; */
/*   display: table-cell; */
/*   vertical-align: bottom; */
/*   padding-bottom: 8px; */
/*   padding-left: 0.5em; */
/*   /* width: 1280px; */ */
/*   /* width: 100%; */ */
/*   min-width: 1280px; */
/*   height: 400px; */
/*   border-bottom-style: solid; */
/*   border-bottom-width: 2.8px; */
/*   border-bottom-color: black; */
/*   background: linear-gradient(#9b0014, #9b0014); */
/*   background-repeat: no-repeat; */
/*   background-position: bottom right; */
/*   background-size: 64px 100%; */
/*   background-color: #f0f0f0; */
/* } */

/* .reveal h2 { */
/*   font-family: "Lato", sans-serif; */
/*   font-weight: 600; */
/*   display: table-cell; */
/*   /* font-family: "FuturaL", Helvetica, sans-serif; */ */
/*   font-size: 42px; */
/*   border-bottom-style: solid; */
/*   border-bottom-width: 2.8px; */
/*   /* min-width: 1480px; */ */
/*   /* width: 100%; */ */
/*   min-width: 1280px; */
/*   height: 80px; */
/*   vertical-align: bottom; */
/*   padding-bottom: 6px; */
/*   padding-left: 0.5em; */
/*   background: linear-gradient(#9b0014, #9b0014); */
/*   background-position: bottom right; */
/*   background-size: 64px 100%; */
/*   background-repeat: no-repeat; */
/*   background-color: #f0f0f0; */
/*   /* margin-top: 8px; */ */
/*   /* margin-bottom: 0; */ */
/* } */

/* .reveal em { */
/*   font-style: normal; */
/*   color: #f55a04; */
/*   /* border-bottom: solid 1.4px; */ */
/* } */

/* .reveal a:visited { */
/*   color: #f55a04; */
/* } */

/* .reveal ol, */
/* .reveal dl, */
/* .reveal ul { */
/*   display: inline-block; */
/*   text-align: left; */
/*   /* margin: 0 0 0 1em; */ */
/*   margin: 0 0 0 0; */
/* } */

/* .reveal ul li { */
/*   text-indent: 0em; */
/*   list-style-type: none; */
/*   margin-left: -56px; } */

/* .reveal ul li:before { */
/*   content: "■"; */
/*   padding-right: 14px; */
/*   color: #9b0014; } */

/* .reveal ul ul li:before { */
/*   content: "■"; */
/*   padding-right: 14px; */
/*   color: #bebebe; } */

/* .reveal ul ul ul li:before { */
/*   content: "■"; */
/*   padding-right: 14px; */
/*   color: #f55a04; } */

/* .reveal blockquote { */
/*   width: 1080px; */
/*   align-items: center; */
/*   /* margin-top: 1em; */ */
/*   /* margin-bottom: 1em; */ */
/*   /* margin-left: auto; */ */
/*   /* margin-right: auto; */ */
/*   padding: 0.25em 1em 0.35em 1em; */
/*   font-style: normal; */
/*   border-style: solid; */
/*   border-width: 2.8px; */
/*   border-radius: 14px; */
/*   border-color: rgb(0, 0, 0); */
/*   /* box-shadow: none; */ */
/* } */

/* .reveal blockquote p { */
/*   text-align: center; */
/* } */

/* .reveal code { */
/*   background-color: #ffffff; */
/*   font-size: 0.8em; */
/* } */

/* .reveal pre code { */
/*   font-size: 0.7em; */
/*   background-color: #f0f0f0; */
/*   max-height: 700px; */
/* } */

/* .reveal img { */
/*   margin-top: 0.5em; */
/*   margin-bottom: 0.5em; */
/* } */

/* .reveal .MathJax_Display { */
/*   margin-top: 1em;  */
/*   margin-bottom: 1em; */
/* } */

/* .reveal .big { */
/*   font-size:1.5em; */
/*   text-align:center; */
/*   /* padding-top: 1em; */ */
/*   margin-top:25%; */
/*   font-weight:bold */
/* } */
